{% extends 'baseWeb.html.twig' %}

{% block head %}
	{{ parent() }}
	<title>Contacto | Metalurgica BP SRL</title>	
{% endblock %}

{% block body %} 
	{{ parent() }}
	<div class="container" id="contact-form">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-1">
				<form role="form" method="post" id="contactForm">
					<div class="form-group">
						<label for="nombre">{{"Nombre"|trans}}</label>
						<input required="true" type="text" id="nombre" name="nombre" class="form-control" placeholder="{{"Introduce tu nombre completo"|trans}}" required/>
					</div>
					<div class="form-group">
						<label for="apellido">{{"Apellido"|trans}}</label>
						<input type="text" id="apellido" name="apellido" class="form-control" placeholder="{{"Introduce tu apellido"|trans}}" />
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" class="form-control" placeholder="{{"Introduce tu direccion de email"|trans}}" required/>
					</div>
					<div class="form-group">
						<label for="telefono">{{"Telefono"|trans}}</label>
						<input type="text" id="telefono" name="telefono" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="empresa">{{"Empresa"|trans}}</label>
						<input type="text" id="empresa" name="empresa" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="asunto">{{"Asunto"|trans}}</label>
						<input type="text" id="asunto" name="asunto" class="form-control" required/>
					</div>
					<div class="form-group">
						<label for="consulta">{{"Consulta"|trans}}</label>
						<textarea rows="8" id="consulta" name="consulta" class="form-control" required></textarea>
					</div>
					<button type="submit" id="btnContacto" class="btn btn-default">{{"Enviar"|trans}}</button>
					<div class="g-recaptcha" data-sitekey="6Ld-NSoUAAAAAFz86LMFP9VOMhtez-AqwYqH-DRt"></div> <!-- SCRIPT PARA CAPTCHA -->
				</form>	
			</div>
			<div class="col-md-5 col-md-offset-1">
				<h3>Metalurgica BP SRL</h3>
				
				<h4>
					<button class="btn btn-success btn-lg">
			          <span class="glyphicon glyphicon-phone fa-2x"></span>
			        </button>
			        {{"Telefono"|trans}}: (011) 4484-2416
				</h4>
		        
		      	<h4>
					<button class="btn btn-success btn-lg">
			          <span class="glyphicon glyphicon-map-marker fa-2x"></span>
			        </button>
			        Ombu 3865 San Justo Buenos Aires (1754)
				</h4>
					
				<h4>
					<button class="btn btn-success btn-lg">
			          <span class="glyphicon glyphicon-envelope fa-2x"></span>
			        </button>
			        <a href="mailto:info@metalurgicabp.com.ar">info@metalurgicabp.com.ar</a>
				</h4>

			</div>
		</div>
	</div>
{% endblock %} 