{% extends 'baseWeb.html.twig' %}


{% block head %}
	{{ parent() }}
	<title>Novedades | Metalurgica BP SRL</title>	

	{% block stylesheets %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset('bundles/mbpweb/css/novedades.css') }}">
	{% endblock %}
{% endblock %}


{% block body %}    

	<section class="main container">
		<div class="row">
			<section class="posts col-md-12">
				<article class="post clearfix jumbotron jumboNovedades">					
					<div class="col-md-7">
						<h3 class="post-title">
						<a>{{"Visita de la Universidad de Luján"|trans}}</a>
						</h3>
						<p class="lead">
							<small>
								{{"Alumnos de la Universidad de Luján cursando la carrera Ingenieria Industrial junto con el docente Ing. Hector Mazzeo realizaron una visita a nuestra empresa, con motivo de observar diferentes procesos industriales. Desde Metalurgica BP apoyamos todas las iniciativas educativas relacionadas a la proyeccion y desarrollo industrial y agradecemos a los alumnos de la UNLU su visita."|trans}}
							</small>
							
						</p>
					</div>
					<div class="col-md-5">
						<a href="#" class="thumb pull-left">
							<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/visita_uni_lujan.jpg') }}" alt="radiador_pauny">
						</a>
					</div>	
				</article>

				<article class="post clearfix jumbotron jumboNovedades">					
					<div class="col-md-7">
						<h3 class="post-title">
						<a>{{"Visita a Metalfor"|trans}}</a>
						</h3>
						<p class="lead">
							<small>
								{{"Una excelente jornada en la provincia de Córdoba, donde visitamos a Metalfor, uno de nuestros principales clientes, participando del ensayo de nuevos paquetes de enfriamiento integrales (radiador de aceite + radiador de agua + intercooler)."|trans}}
							</small>
							
						</p>
					</div>
					<div class="col-md-5">
						<a href="#" class="thumb pull-left">
							<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/metalfor_novedades.jpg') }}" alt="radiador_pauny">
						</a>
					</div>	
				</article>

				<article class="post clearfix jumbotron jumboNovedades">					
					<div class="col-md-7">
						<h3 class="post-title">
						<a>{{"Radiador de agua Pauny"|trans}}</a>
						</h3>
						<p class="lead">
							<small>
								{{"En conjunto con la empresa Pauny desarrollamos un radiador de agua para el Tractor S210, entre las novedades diseñamos una caja encausadora plástica termoformada lo cual reduce el peso y costo del equipo y la fabricacion es con aletas trapezoidales ideales para las condiciones de trabajo en el campo."|trans}}
							</small>
							
						</p>
					</div>
					<div class="col-md-5">
						<a href="#" class="thumb pull-left">
							<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/radiador pauny2.jpg') }}" alt="radiador_pauny">
						</a>
					</div>	
				</article>

				<article class="post clearfix jumbotron jumboNovedades">					
					<div class="col-md-7">
						<h3 class="post-title">
						<a>{{"Modernización de maquinaria"|trans}}</a>
						</h3>
						<p class="lead">
							<small>
								{{"Con vistas de ampliar el mercado local hacia la fabricacion de enfriadores de agua, Metalurgica BP ha incorporado una serie de máquinas para la conformacion y corte de aletas de aluminio de forma automática."|trans}}
							</small>
							
						</p>
					</div>
					<div class="col-md-5">
						<a href="#" class="thumb pull-left">
							<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/maquinaria1.jpg') }}" alt="maquinaria">
						</a>
					</div>					
					
				</article>

				<hr>

				<article class="post clearfix jumbotron jumboNovedades">					
					<div class="col-md-7">
						<h2 class="post-title">
						<a>{{"Automec 2015 Brasil"|trans}}</a>
						</h2>
						<p class="lead">
							<small>
								{{"El equipo comercial de Metalurgica BP viajó a Brasil junto con la colaboración dela fundación Exportar para promocionar sus productos en la región."|trans}}	
							</small>
							
						</p>
					</div>
					<div class="col-md-5">
						<a href="#" class="thumb pull-left">
							<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/automec1.jpg') }}" alt="automec">
						</a>
					</div>										
				</article>		

			</section>
		</div>

		<!-- VENTANA MODAL PARA MOSTRAR IMAGENES AMPLIADAS -->
		<div class="modal fade col-md-10 col-md-offset-1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-admin" id="modalImg">
		    	<div class="modal-content">
		        	<div class="modal-header">
		          		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		          		<h4 class="modal-title" id="myModalLabel">Vista previa</h4>
		        	</div>
		        	<div class="modal-body">
		          		<img src="" id="imagepreview" class="img-responsive">
		        	</div>
		        	<div class="modal-footer">
		          		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        	</div>
		      	</div>
		    </div>
		</div>		

	</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/mbpweb/js/novedades.js') }}"></script>


{% endblock %}	

