{% extends 'baseWeb.html.twig' %}


{% block head %}
	{{ parent() }}
	<title>Novedades | Metalurgica BP SRL</title>	

	{% block stylesheets %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset('bundles/mbpweb/css/novedades.css') }}">
	{% endblock %}
{% endblock %}


{% block body %}    

	<section class="main container">
		<div class="row">
			<section class="posts col-md-12">
				{% for item in items %}
					<article class="post clearfix jumbotron jumboNovedades">					
						<div class="col-md-7">
							<h3 class="post-title">
							<a>{{item.titulo|trans}}</a>
							</h3>
							<p class="lead">
								<small>
									{{item.descripcion|trans}}
								</small>
								
							</p>
						</div>
						<div class="col-md-5">
							<a href="#" class="thumb pull-left">
								<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/news/'~item.nombreImagen~'') }}" alt="radiador_pauny">
							</a>
						</div>	
					</article>
				{% endfor %}
				

			</section>
		</div>

		<!-- VENTANA MODAL PARA MOSTRAR IMAGENES AMPLIADAS -->
		<div class="modal fade col-md-10 col-md-offset-1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-admin" id="modalImg">
		    	<div class="modal-content">
		        	<div class="modal-header">
		          		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		          		<h4 class="modal-title" id="myModalLabel">Vista previa</h4>
		        	</div>
		        	<div class="modal-body">
		          		<img src="" id="imagepreview" class="img-responsive">
		        	</div>
		        	<div class="modal-footer">
		          		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        	</div>
		      	</div>
		    </div>
		</div>		

	</section>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<section class="paginator">
				<div class="">
					<nav aria-label="...">
					  <ul class="pager">
					    <li class="{{ previous }}"><a href="{{ path('novedades', {'page': page - 1 }) }}">Anterior</a></li>
					    <li class="{{ next }}"><a href="{{ path('novedades', {'page': page + 1 }) }}">Siguiente</a></li>
					  </ul>
					</nav>
				</div>
			</section>	
		</div>
	</div>
			
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/mbpweb/js/novedades.js') }}"></script>


{% endblock %}	

