{% extends 'baseWeb.html.twig' %}

{% block head %}
	{{ parent() }}
	<title>Inicio | Metalurgica BP SRL</title>	
{% endblock %}

{% block body %}
<div class="row">
    <div class="wrapper" id="wrapper">
        <div class="offcanvas-pusher">
            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="inner-content">
                            <div class="company">
                                <div class="company-description pull-left">
                                    <h2>Company</h2>
                                    <h3>About Steellex Inc.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu pretium quis sem.
                                    </p>
                                    <p>
                                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut  imperdiet a venenatis vitae justo. Nullam dictum felis eu pede mollis pretium integer tincidunt. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu pretium quis sem. </p>
                                </div>
                                <div class="company-thumb pull-right">
                                    <img src="{{ asset('bundles/mbpweb/images/page/about-us.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="company-chairmen">
                                <div class="chairmen-thumb pull-left">
                                    <img src="{{ asset('bundles/mbpweb/images/page/chairman.jpg') }}" alt="">
                                </div>								
                                <div class="chairmen-description pull-right">
                                    <h3>Message from Chairman</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu pretium quis sem.
                                    </p>
                                    <p>
                                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut  imperdiet a venenatis vitae justo. </p>
                                    <p>Thank You</p>
                                    <div class="signature">
                                        <img src="{{ asset('bundles/mbpweb/images/page/signature.png') }}" alt="">
                                        <h4>Eric Blodan</h4>
                                        <p>Chairman, Steellex Inc.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="directors">
                                    <h3>Board of Directors</h3>
                                        <div class="director-list">
                                    <div class="col-md-3 col-sm-3">
                                            <img src="{{ asset('bundles/mbpweb/images/page/director1.jpg') }}" alt="">
                                            <h4>Andrew Structure</h4>
                                            <h5>Director Finance, Steellex Inc.</h5>
                                        </div>
                                    </div>
                                        <div class="director-list">
                                    <div class="col-md-3 col-sm-3">
                                            <img src="{{ asset('bundles/mbpweb/images/page/director2.jpg') }}" alt="">
                                            <h4>Micheal Beam</h4>
                                            <h5>Director Production, Steellex Inc.</h5>
                                        </div>
                                    </div>
                                        <div class="director-list">
                                    <div class="col-md-3 col-sm-3">
                                            <img src="{{ asset('bundles/mbpweb/images/page/director3.jpg') }}" alt="">
                                            <h4>Jhon Piller</h4>
                                            <h5>Director Quality, Steellex Inc.</h5>
                                        </div>
                                    </div>
                                        <div class="director-list">
                                    <div class="col-md-3 col-sm-3">
                                            <img src="{{ asset('bundles/mbpweb/images/page/director4.jpg') }}" alt="">
                                            <h4>Nicolas Angel</h4>
                                            <h5>Director Marketing, Steellex Inc.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>								
                        </div>
                        <!--inner content -->
                    </div>
                    <!--section row -->		
                </div>
                <!-- .container-->
            </div>
            <!--content-wrapper-->
        </div>
        <!-- offcanvas-pusher -->

        <div class="offcanvas-menu offcanvas-effect visible-xs">
            <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
            <div>
            <div>
                <ul id="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
            </div>
        </div>
        <!-- offcanvas-menu end -->			
    </div>
</div>
<!-- #wrapper -->

{% endblock %}