<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
				<span class="sr-only">Desplegar / Ocultar Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a><img id="logo" src="{{ asset('bundles/mbpweb/images/logo.jpg') }}" /></a>
			
		</div>
		<!-- Inicia Menu -->
		<div class="collapse navbar-collapse" id="navegacion-fm">
			<ul class="nav navbar-nav">
				<li><a href="{{ path('index') }}">Inicio</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						Productos <span class="caret"></span>
					</a>


					<ul class="dropdown-menu" role="menu">
						<!-- LA LISTA SE REALIZA EN OTRA VISTA -->
						{{ render(controller('MbpWebBundle:Default:listarCategorias')) }}
						<li><a href="{{ path('productosComerciales') }}">Radiadores Comerciales</a></li>
					</ul>
				</li>
				<li><a href="{{ path('novedades') }}">Novedades</a></li>
				<li><a href="{{ path('clientes') }}">Clientes</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						Nosotros <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('mision') }}">Mision, vision</a></li>
						<li><a href="{{ path('historiaEmpresa') }}">Historia de la empresa</a></li>
						<li><a href="{{ path('calidad') }}">Calidad y medio ambiente</a></li>
					</ul>
				</li>
				<li><a href="{{ path('contacto') }}">Contacto</a></li>
			</ul>

			<!-- BUSCADOR GENERAL -->
			<form action="" class="navbar-form navbar-right navbar-collapse" role="search" id="formBusqueda">					
				<div class="form-group">					
					<input type="text" class="form-control" placeholder="buscar">
					<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-search"></span>
					</button>				
				</div>				
			</form>		
			
		</div>
	</div>
</nav>