<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Metalurgica BP SRL</title>
    

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/mbpweb/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mbpweb/css/estilos.css') }}">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">          
        <link rel="stylesheet" href="{{ asset('bundles/mbpweb/css/footer.css') }}">  
    {% endblock %}
    
</head>
<body>
    <header>
        <!--  COLOCAMOS LA BARRA DE NAVEGACION SUPERIOR -->
        {{ include('barra-navegacion.html.twig') }}   
        
    </header>

    {% block body %} 

        <!-- VENTANA MODAL GENERAL -->
        <div id="generalModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
              </div>
              <div class="modal-body">
                <p>Gracias por su comuniación, en breve le responderemos</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>

          </div>
        </div>   

        <!-- ALERTAS CON MENSAJES EXITOSOS -->
        {% if app.session.flashBag.get('statusOk') %} 
            <div class="alert alert-success" role="alert">
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="flash-notice">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            </div>    
        {% endif %}       
        
        
        <!-- ALERTAS CON MENSAJES FALLIDOS -->
        {% if app.session.flashBag.get('statusFail') %}                        
            <div class="alert alert-danger" role="alert">
                {% for flash_message in app.session.flashBag.get('fail') %}                    
                    <div class="flash-notice">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endblock %}


    {% block javascripts %}
        <!-- FOS RoutingBundle -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('bundles/mbpweb/js/bootstrap.min.js') }}"></script>
    {% endblock %}

    {% block footer %}
        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                            <h3> Quienes somos </h3>
                            <ul>
                                <li> <a href="{{ path('historiaEmpresa') }}"> Historia de la empresa </a> </li>
                                <li> <a href="{{ path('mision') }}"> Misión, visión </a> </li>
                                <li> <a href="{{ path('calidad') }}"> Calidad </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                            <h3> Que hacemos </h3>
                            <ul>
                                <li> <a href="{{ path('productos', {'cat': 1}) }}"> Radiadores de aceite-aire </a> </li>
                                <li> <a href="{{ path('productos', {'cat': 3}) }}"> Posenfriadores </a> </li>
                                <li> <a href="{{ path('productosComerciales') }}"> Radiadores de agua </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                            <h3> Ubicacion </h3>
                            <ul>
                                <li> <a href="{{ path('contacto') }}"> Contacto </a> </li>
                                <li> <a href="{{ path('comoLlegar') }}"> Como llegar </a> </li>
                            </ul>
                        </div>               
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                            <h3> Seguinos en </h3>
                            <ul class="social">
                                <li> <a href="https://www.facebook.com/profile.php?id=100011079996789"> <i class="fa fa-facebook-official">   </i> </a> </li>
                                <li> <a href="https://twitter.com/MetalurgicaBp"> <i class="fa fa-twitter">   </i> </a> </li>
                            </ul>

                                
                        </div>
                    </div>
                    <!--/.row--> 
                    <div class="row">
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-log-in"></span>
                            <a href="">Acceso a clientes</a>            
                        </div>  
                    </div>
                </div>
                <!--/.container--> 
            </div>
            <!--/.footer-->
            
            <div class="footer-bottom">
                <div class="container">
                    <p class="pull-left"> Copyright © 2016 Metalurgica BP SRL. Todos los derechos reservados. 
                        <br>
                        Ombu 3865 San Justo - Buenos Aires - Argentina - (011) 4484-2416
                    </p>
                </div>
            </div>
            <!--/.footer-bottom--> 
        </footer>
    {% endblock %}
</body>
</html>