<html>
	<head>
            <title>Metalurgica B.P S.R.L </title>

            <!-- FOS RoutingBundle -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/js/MetApp/resources/css/Estilos.css') }}" />
            <!-- Iconos del sistema -->
       		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/js/MetApp/resources/css/MetbpIcons.css') }}" >

            <!-- Aplicacion Ext Js -->
            <!--<script type="text/javascript" src="{{ asset('bundles/frontend/js/MetApp/app/App.js') }}"></script>   -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/js/build/production/MetApp/resources/MetApp-all.css') }}" />
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/build/production/MetApp/app.js') }}"></script>
            
            <!-- Script para trabajar con notificaciones en tiempo real -->
		<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        
        <!-- Script para notificaciones -->
        <script type="text/javascript" src="{{ asset('bundles/frontend/js/MetApp/resources/js/Notification.js') }}"></script>
	</head>
	<body>
		
	</body>
</html>
