<html>
	<head>
		<title>Metalurgica B.P S.R.L </title>
		
		<!-- FOS RoutingBundle -->
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		
		<!-- Estilos de Ext Js -->
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/js/ext/resources/css/ext-all-neptune.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/js/MetApp/resources/css/Estilos.css') }}" />
		
        <!-- Iconos del sistema -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/js/MetApp/resources/css/MetbpIcons.css') }}" >
        
		<!-- Script del Framework Ext Js -->		
		<script type="text/javascript" src="{{ asset('bundles/frontend/js/ext/ext-debug.js') }}"></script>
		<!-- Script de idioma -->
        <script type="text/javascript" src="{{ asset('bundles/frontend/js/ext/locale/ext-lang-es.js') }}"></script>
		
		<!-- Aplicacion Ext Js -->
        <script type="text/javascript" src="{{ asset('bundles/frontend/js/MetApp/app/App.js') }}"></script>
		
		<!-- Script para trabajar con notificaciones en tiempo real -->
		<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        
        <!-- Script para notificaciones -->
        <script type="text/javascript" src="{{ asset('bundles/frontend/js/MetApp/resources/js/Notification.js') }}"></script>

	</head>
	<!-- ESTILOS SOLO PARA DIFERENCIAR DESARROLLO DE PRODUCCION -->
	<body>
		
	</body>
</html>