{% extends 'dashboardBase.html.twig' %}
{% block content %}
<div class="content">
<div class="row">
    <div class="col-md-8">
    <div class="card">
        <div class="card-header">
        <h5 class="title">Articulos</h5>
        </div>
        <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-5 pr-md-1">
                    <div class="form-group">
                    {{ form_label(form.codigo) }}
                    {{ form_widget(form.codigo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-3 px-md-1">
                    <div class="form-group">
                    {{ form_label(form.unidad) }}
                    {{ form_widget(form.unidad, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>   
                <div class="col-md-4 px-md-1">
                    <div class="form-group">
                    {{ form_label(form.presentacion) }}
                    {{ form_widget(form.presentacion, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>           
            </div> 
            <div class="row">
                <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                    {{ form_label(form.descripcion) }}
                    {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>     
            </div>   
            <div class="row">
                <div class="col-md-6 pr-md-1">
                    <div class="form-group">
                    {{ form_label(form.familiaId) }}
                    {{ form_widget(form.familiaId, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>  
                <div class="col-md-6 pr-md-1">
                    <div class="form-group">
                    {{ form_label(form.subFamiliaId) }}
                    {{ form_widget(form.subFamiliaId, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div> 
            </div> 
            <div class="row">
                <div class="col-md-4 pr-md-1">
                    <div class="form-group">
                    {{ form_label(form.peso) }}
                    {{ form_widget(form.peso, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>  
                <div class="col-md-4 pr-md-1">
                    <div class="form-group">
                    {{ form_label(form.stock) }}
                    {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div> 
                <div class="col-md-4 pr-md-1">
                    <div class="form-group">
                    {{ form_label(form.fechaStock) }}
                    {{ form_widget(form.fechaStock, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>    
            </div> 
            <div class="row">
                <div class="col-md-4 pr-md-1">
                    <div class="form-group">
                    {{ form_label(form.provSug1) }}
                    {{ form_widget(form.provSug1, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>  
            </div>   
        </form>
        </div>
        <div class="card-footer">
        <button type="submit" class="btn btn-fill btn-primary">Save</button>
        </div>
    </div>
    
</div>
</div>
{% endblock %}
